<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Tri-Met Transit tracker">
      <meta name="author" content="Matthew Eggers">

      <title>Bus Locator</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="css/locator.css" rel="stylesheet">
   </head>

   <body>

      <main role="main">
         <section class="jumbotron text-center">
            <div class="container">
               <h1 class="jumbotron-heading">Where's My Bus?</h1>
               <p class="lead text-muted">
                  Enter your bus route number to display busses near you.
               </p>
               <form id="locator-fetch" method="post" action="/locator/fetch">
                  <div id="locator-alert"></div>
                  <div class="form-group">
                     <label for="bus-number">Bus Route:</label>
                     <input type="text" class="form-control" id="bus-number" name="bus_number">
                  </div>
                  <button type="submit" class="btn btn-default">Show</button>
               </form>
            </div>
         </section>
      </main>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script>
        $(document).ready( function() {
          $('#locator-fetch').on('submit', function(e) {
            e.preventDefault();
            if ( isNaN( parseInt($('#bus-number').val() ) ) ) {
              $('#locator-alert').html('<div class="alert alert-danger alert-dismissible" role="alert">' +
                     'You must enter a valid Bus route' +
                     '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                     '</button></div>'
              );
            }
          });
        });
      </script>
   </body>
</html>
